body{
	margin-top:70px;
	padding-bottom: 20px;
	overflow-x: hidden;
}

div.activity_item{
	
	margin-bottom: 20px; 
	color: black;
	
}

div.activity_item:hover{
	
	color: #1881c0;
}

div.profileHeader{
	
	
}